﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="~/CSS/bootstrap.css">
    <link rel="stylesheet" href="~/CSS/tether.css">
    <link rel="stylesheet" href="~/CSS/font-awesome.min.css">
    <link rel="stylesheet" href="~/CSS/style.css"/>
    <script src="~/JS/jQuery.js"></script>
    <script src="~/JS/tether.js"></script>
    <script src="/JS/bootstrap.js"></script>
    <title>@ViewBag.title</title>
</head>
<body>
<div class="container">
    <nav class="navbar fixed-top navbar-toggleable navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="~/Images/fish.svg" width="30" height="30" class="d-inline-block align-middle" alt="fish">
            Brand
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", null, new {@class = "nav-link"})
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Registration", "RegistrationForm", "Home", null, null, "anchor", null, new {@class = "nav-link"})
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Login", "LoginForm", "Home", null, null, "anchor", null, new {@class = "nav-link"})
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Blog", "Index", "Blog", null, null, "anchor", null, new {@class = "nav-link"})
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Content", "Index", "Vacancies", null, null, "anchor", null, new {@class = "nav-link"})
                </li>
            </ul>
        </div>
    </nav>
</div>

<br />
@RenderBody()
<div id="footer">
    <span id="footertext"> ©2017 Template <a href="#">Legal stuff</a></span>
</div>
@RenderSection("scripts", required: false)
</body>
</html>