@model Occupeye.Models.Sensors

<div class="container">
    <div class="row pb-5">
        <div id="anchor" class="col">
            @using (Html.BeginForm())
            {
                <div class="form-signin">
                    <h2 class="form-signin-heading"  id="anchor">Sensor Creation</h2>

                    <div>
                        @Html.Label("Name")
                        @Html.TextBoxFor(x => x.Name, new {id = "inputName", @class = "form-control", placeholder = "Name"})
                        @Html.ValidationMessageFor(x => x.Name, null, new {id = "l-Style", style = "color:#FF1C4D"})
                    </div>
                    <div>
                        @Html.Label("Client ID number")
                        @Html.TextBoxFor(x => x.ClientId, new {id = "inputClientId", @class = "form-control", placeholder = "ClientId"})
                        @Html.ValidationMessageFor(x => x.ClientId, null, new {id = "l-Style", style = "color:#FF1C4D"})
                    </div>
                    <div>
                        @Html.Label("Location")
                        @Html.TextBoxFor(x => x.Locale, new {id = "inputLocale", @class = "form-control", placeholder = "Locale"})
                        @Html.ValidationMessageFor(x => x.Locale, null, new {id = "l-Style", style = "color:#FF1C4D"})
                    </div>
                    <div>
                        @Html.Label("Data")
                        @Html.CheckBoxFor(x => x.Activate, new {id = "inputActivate", @class = "form-control", placeholder = "Activate"})

                    </div>
                    <br>
                    <div>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="wwwroot/JS/ResponsiveValidation.js"></script>
}