@model List<Occupeye.Models.Sensors>
<div class="container">
    <div class="row pb-5">
        <div id="anchor" class="col">
            <div>
                <a href="@Url.Action("Add", "Sensors")" class="btn btn-lg btn-primary btn-block"> Add </a>
            </div> 
            <br>
            <h2>Sensor list</h2>
            <br>
            @foreach(var item in Model){
                <div>
                    <h5>Sensor: @item.Name</h5>
                    <hr />
                    <div>
                        <h6>
                            Sensor name: @item.Name
                        </h6>
                        <p>
                            Activate available: @item.Activate
                        </p>
                        <p>
                            Client ID: @item.ClientId
                        </p>
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Edit this item","Add", "Sensors") |
                    @Html.ActionLink("Return to list","Index", "Sensors") |
                    @{
                      if(item.Data == null){item.Data = false;}
                      if (item.Data.Value){@Html.ActionLink("Delete","Delete", "Sensors", new{id = @item.Id})}
                    }
                </div>
                <br>
                }

        </div>
    </div>
</div>